body {
    margin: 0;
    height: 100vh;
  }

  div {
    color: #888888;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F0F0F0;
    height: 100%;
  }
