/* Подключенный шрифт Inter */
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Inter, sans-serif;
    color: #000000;
    background-color: #F8FAFE;
    font-size: 16px;
    cursor: default;
}

/* Контейнер ограничивающий внустри страницы 1400px */
.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Название магазина и лого */
.header {
    background-color: #F2F2F2;
    position: sticky;
    top: 0px;
}

.header__wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}

.header__logo {
    width: 36.5px;
}

.header__sitename {
    display: inline;
    font-size: 44px;
    font-weight: 700;
}

.header__sitename_accent {
    color: #FF5722;
}

.header__right-wrapper {
    display: flex;
}

.header__favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
}

.header__favorite-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
}

.header__favorite:hover {
    background-color: #DA4A0C;
}

.header__favorite:active {
    background-color: #A93A09;
}

.header__favorite-image {
    height: 35px;
}

.header-favorite-counter {
    border-radius: 500px;
    padding: 2px;
    background-color: #F36223;
    color: white;
    position: absolute;
    top: -6px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.header__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
}

.header__cart:hover {
    background-color: #DA4A0C;
}

.header__cart:active {
    background-color: #A93A09;
}

.header__cart-button-wrapper {
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
}

.header__cart-button-image {
    height: 40px;
}

.header__cart-counter {
    min-width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    background-color: #F36223;
    color: white;
    position: absolute;
    top: -6px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

/* Хлебные крошки */
.breadcrumbs {
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
}

.link {
    color: #008CF0;
    font-weight: 400;
    text-decoration: none;
}

.link:hover {
    color: #F36223;
    cursor: pointer;
}

.link:active {
    color: #A93A09;
}

/* Основной контент/карточка товара */
.product-name {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Основные фото товара */
.product-photo {
    max-width: 100vw;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.product-photo__image {
    height: 387px;
}

.second-section-wrapper {
    display: flex;
    gap: 100px;
}

/* Разделение страницы на две секции */
.left-section-wrapper {
    max-width: 880px;
    flex-grow: 1;
}

.right-section {
    width: 420px;
    flex-shrink: 0;
}

/* Левая секция - цвета */
.description-title {
    font-weight: 700;
    margin-bottom: 15px;
}

.another-colors {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.another-colors__button {
    height: 80px;
    width: 80px;
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
}

.color-button_selected {
    border: 2px solid #F36223;
}

.another-colors__button:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.another-colors__button:active {
    border: 2px solid #A93A09;
    border-radius: 4px;
}

.color-button__image {
    height: 60px;
}

/* Секция с конфигурацией памяти */
.memory-config {
    margin-bottom: 30px;
}

.memory-config-button-wrapper {
    display: flex;
    gap: 10px;
    font-weight: 500;
    box-sizing: border-box;
}

/* Общая стилизация кнопки */
.button {
    font-weight: 500;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.button_selected {
    border: 2px solid #F36223;
    padding: 9px 19px;
    border-radius: 4px;
}

.button:hover {
    background-color: #F2F2F2;
}

.button:active {
    padding: 9px 19px;
    border: 2px solid #A93A09;
    border-radius: 4px;
}

/* Секция Характеристики товара */
.characteristic {
    padding-left: 0;
    margin-bottom: 30px;
}

.characteristic-list {
    padding: 0;
}

.characteristic-list__item {
    list-style-image: url(../icons/List_marker.svg);
    list-style-position: inside;
    margin-bottom: 10px;
}

.characteristic-list__item:last-child {
    margin-bottom: 0;
}

.characteristic-list__item::before {
    content: "";
    padding-right: 6px;
}

/* Секция Описание */
.description {
    margin-bottom: 30px;
}

.description-text {
    margin-bottom: 15px;
}

.description-text:last-child {
    margin-bottom: 0;
}

/* Таблица */
.table {
    width: 100%;
    text-align: center;
    border: 1px solid grey;
    border-collapse: collapse;
    cursor: default;
    margin-bottom: 50px;
}

.table-row__head-item {
    border: 1px solid #888888;
    padding: 10px;
}

.table-row__body:hover {
    background-color: #F2F2F2;
}


.table-row__body-item {
    border-right: 1px solid #888888;
    padding: 10px;
}

/* Правая секция со стоимостью кнопкой корзина и блоками для рекламы */
.price {
    /* width: 420px; */
    /* height: 275px; */
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

.price__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.price__discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price__discount-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price__discount-rectangle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    background: #F36223;
    border-radius: 500px;
}

/* Старая цена */
.price__discount-old {
    color: #888888;
    font-weight: 500;
    font-size: 16px;
    text-decoration: line-through;
}

/* Процент скидки */
.price__discount-rectangle-value {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

.price__discount-add-favorite {
    width: 26px;
    height: 26px;
    border: none;
    background-image: url(../icons/favorite.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.price__discount-add-favorite:hover {
    background-image: url(../icons/favorite-hover.svg);
}

.price__discount-add-favorite:active {
    background-image: url(../icons/fevorite-click.svg);
}

/* Настоящая цена с учетом скидки */
.price__current {
    font-weight: 500;
    font-size: 32px;
}

/* Информация по доставке */
.price__pickup-date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 35px;
}

/* Особая кнопка Добавить в корзину */
.btn {
    background-color: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn::before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../img/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn_add-cart {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.btn:hover {
    background-color: #DA4A0C;
    cursor: pointer;
}

.btn:active {
    background: #A93A09;
}

/* Секция с рекламой / фреймами */
.ads__title {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.ads-frame {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ads-frame__window {
    height: 300px;
    border: 1px dashed #888888;
}


/* Секция с отзывами Заголовок отзывов, счетчик и кнопка добавить отзыв*/
.review-counter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.review-counter__wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.review-counter__title {
    font-weight: 700;
    font-size: 24px;
}

.review-counter__quantity {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}

/* Основное тело отзывов */
.review-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.review {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.review__client {
    height: 140px;
    border-radius: 50%;
}

.review-body__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

.review-body__stars {
    margin-bottom: 20px;
}

.review-body__stars-item {
    height: 30px;
}

.review-body__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.horisontal-line {
    margin-left: auto;
    width: 710px;
    border: none;
    border-top: 1px dashed #888888;
    margin-bottom: 40px;
}


/* Формы для добавления отзыва на сайт */

.add-review {
    padding-left: 170px;
    margin-bottom: 100px;
}

.add-review__form {
    color: #888888;
}

.add-review__first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.add-review__input-name {
    padding: 15px 20px;
    width: 500px;
}

.add-review__first-row input {
    border: none;
    border: 1px solid #888888;
}

.add-review__first-row input:hover {
    border: none;
    border: 1px solid #000000;
}


.add-review__input-rating {
    padding: 14px 20px;
    width: 175px;
    border: none;
    border: 1px solid #888888;
}

.add-review__input-rating:hover {
    border: none;
    border: 1px solid #000000;
}

.add-review__input-text {
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 30px;
    resize: none;
    border: none;
    border: 1px solid #888888;
}

.add-review__input-text:hover {
    border: none;
    border: 1px solid #000000;
}

.add-review_button {
    padding: 10px 20px;
}

/* Подвал */
.footer {
    background-color: #F2F2F2;
    font-size: 14px;
    padding: 30px 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__left-name-market {
    font-weight: 600;
}

/* Адаптив сайта через медиазапросы */

@media (max-width: 1499px) {
    
    .container {
        min-width: 994px;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    .product-photo__image {
        height: 272px;
    }

    .table {
        display: none;
    }

    .second-section-wrapper {
        display: flex;
        gap: 40px;
    }

    .left-section-wrapper {
        min-width: 594px;
        margin-bottom: 44px;
    }

    .right-section {
        min-width: 360px;
        flex-shrink: 1;
    }

    .review-section {
        max-width: 594px;
    }

    .description-text_tablet {
        display: none;
    }

    .review-wrapper {
        margin-bottom: 14px;
    }

    .review__client {
        height: 100px;
    }

    .review-body__stars-item {
        height: 20px;
    }

    .horisontal-line {
        width: 464px;
    }
    
    .add-review {
        padding: 0;
        margin-bottom: 80px;
    }

    .add-review__input-name {
        width: 379px;
    }
}